body h1 {
text-align: center;
  justify-content:space-evenly;color:blue;
}
.button-container {text-align:center;
  margin-top:20px;

}
.button {
  color:red;
  text-align:center;
  
  display:flex;
  justify-content: center;
  
  
}
.text {
text-align:center;
color:rgb(212, 119, 5);
gap:20px;}
